@media (max-width: 1240px){
    .team_item--4 {left: 275px;}  
}

@media (max-width: 1174px) {
    .slider_item_img {
        width: 100%;
        height: 250px;
    }
    .slider {
        margin: 0;
    }
    .slider_item {
        padding: 10px;
    }
}
    
    
@media (max-width: 1040px){
    .team_item--5 {bottom: 100px;}  
}



@media (max-width: 992px){
    .header_inner {
        flex-wrap: wrap; 
        height: auto;
        padding-top: 25px;
    }
    .menu {
        order: 1;
        width: 100%;
    }
    .menu_list {
        justify-content: flex-end;
        padding-top: 30px;
        
    }
    .top_inner {
        background-image: none
    }
    
    .tools_items {
        flex-wrap: wrap;
    }
    .tools_item {
       width: 50%;
        margin-bottom: 30px;
        padding-right: 10px;
    }
    .direction-item_img {
        width: 40%;
    }
    
}
@media (max-width: 860px) {
    .direction-item_img {width: 70%;
    margin: 0 auto;
    order: -1}
    .direction_item {flex-wrap: wrap}
    .direction_item_contect {
        min-width: 100%;
    }
    .team_item {
        display: none;
    }
    .team_inner {
        padding: 80px 0;
    }
    .footer_inner {
        flex-wrap: wrap;
    }
    .footer_form {
        width: 100%;
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .top_inner, direction, blog {
        padding: 80px 0 60px;
    }
    .tools {
        padding-top: 80px;
    }
    .tools_inner {padding-bottom: 60px;}
    .top {margin-bottom: 0;}
    
    
}
@media (max-width: 524px)
{
    .header_inner {display: block}
    
    .menu_list {
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        background-color: white;
        text-align: center;
        transform: translateY(-300%);
        transition: all .3s
    
    }
    .menu_list.menu_list--active {
         transform: translateY(0%);
        transition: all .3s
    }
    .menu_list-link {
        display: block;
        padding: 10px 0;
    }
    
    .menu_list-item + .menu_list-item {
        margin-left: 0;
    }
    .menu_btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
    }
    .user-nav {
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
        
    }
    .top_title {
        font-size: 24px;
        line-height: 30px;
        
    }
    .top_btn {
        margin-bottom: 25px;
       
    }
    .top_inner {
        text-align: center;
    }
    .tools_item {
        width: 100%;
    }
    .tools_title, .direction_item_title, .team_title, .slider_item_title {
         font-size: 28px;
        line-height: 32px;
    }
    .direction_item {
        margin-bottom: 40px;
    }
    .slider_item {
        padding: 0;
    }
    .footer .logo {
        width: 100%;
        margin-bottom: 25px;
    }
    .footer_inner {
        justify-content: space-around
    }
    
}
@media (max-width: 389px) {
    .top_btn {
        margin-right: 0;   
    }
    .top_link {
        margin: 0 25px;
    }
}