* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}


button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    color: #2F281E;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.menu {
    margin-left: auto;
}

.menu_list {
    display: flex;
}

.menu_list-item + .menu_list-item {
    margin-left: 24px;
}

.menu_list-link {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 400;
}

.user-nav {
    margin-left: 52px;
    margin-right: 13px;
}

.user-nav_link + .user-nav_link {
    margin-left: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background: #FF9900;
    border-radius: 4px;
    border-color: transparent
}

.user-nav_link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    text-decoration: none;
    padding: 11px 23px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.top_title {
    font-family: Poppins;
    ;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    max-width: 518px;
}

.top_text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 45px;
    max-width: 460px;
}

.top_btn {
    display: inline-block;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    padding: 15px 41px 14px;
    margin-right: 30px;
    border: none;
}

.top_btn:focus {
    outline: none;
}

.top_link {
    line-height: 24px;
    display: inline-block;
    font-weight: 600;
    color: #FF9900;
    padding-left: 25px;
    position: relative;
}

.top_link::before {
    content: "";
    background-image: url(../images/Triangle%20Copy%206.svg);
    position: absolute;
    left: 0;
    width: 17px;
    height: 19px;
    top: 2px;
}

.top_inner {
    background-image: url(../images/Image.png);
    background-repeat: no-repeat;
    padding: 133px 0 80px;
    background-position: bottom right;
}

.tools_item_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}

.tools_item {
    width: 240px;
}

.tools_title {
    margin: 0 auto 46px;
    text-align: center;
    max-width: 539px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    padding: 0 10px;
}

.top {
    margin-bottom: 111px;
}

.tools_items {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 0;
    margin-bottom: 34px;
}

.tools_item_img {
    margin-bottom: 30px;
}

.tools_link {
    background: #FF9900;
    border-radius: 4px;
    line-height: 24px;
    padding: 15px 32px 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    width: 173px;
    margin: 0 auto;
    display: block;
}

.tools_inner {
    padding-bottom: 90px;
    background-image: url(../images/Bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.tools {
    padding-bottom: 120px;
}

.direction_item_pretitle {
    line-height: 24px;
    margin-bottom: 3px;
}

.direction_item_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 22px;
}

.direction_item_subtitle {
    font-weight: bold;
    margin-bottom: 12px;
}

.direction_item_contect {
    width: 486px;
    padding-top: 30px;
}

.direction_item_text {
    margin-bottom: 25px;
}

.direction {
    padding-bottom: 100px;
}

.direction_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.direction_item_title_text {
    margin-bottom: 30px;
}

.direction_list {
    list-style: none;
}

.direction_list_item {
    margin-bottom: 30px;
    padding-left: 65px;
    position: relative
}

.direction_list_item::before {
    content: '';
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    background-image: url(../images/Group%20.png);
    top: 9px;
}

.team {
    background-image: url(../images/Bg_team.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.team_inner {
    padding: 230px 0 380px;
    position: relative
}

.team_box {
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
}

.team_title {
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    margin-bottom: 22px;
}

.direction_text {
    margin-bottom: 42px;
    color: #567592;
}

.team_btn {
    line-height: 24px;
    background: #FF9900;
    border-radius: 4px;
    padding: 15px 31px 14px 30px;
    color: #FFFFFF;
    border: none
}

.team_item_img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
}

.team_item_text {
    background-color: white;
    padding: 14px 20px 15px;
    color: #2F281E;
    line-height: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    display: inline-block;
    position: absolute;
    top: -30px;
    right: 75px;
    width: 281px;
    white-space: nowrap;
}

.team_item_text.team_item_text--left {
    top: -41px;
    right: auto;
    left: 62px;
}

.team_item_text--right::after,
.team_item_text--right::before,
.team_item_text--left::after,
.team_item_text--left::before {
    content: '';
    position: absolute;
    background-color: #fff;
}

.team_item_text--right::after,
.team_item_text--left::after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    bottom: -7px;
    right: 30px;
}

.team_item_text--right::before,
.team_item_text--left::before {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    bottom: -20px;
    right: 9px;
}

.team_item_text--left::after {
    left: 30px;
    right: auto;
}

.team_item_text--left::before {
    left: 9px;
    right: auto;
}

.team_item--1 {
    right: 95px;
    top: 157px;
}

.team_item--2 {
    left: 0;
    top: 223px;
}

.team_item--3 {
    right: 0;
    bottom: 257px;
}

.team_item--4 {
    bottom: 223px;
    left: 210px;
}

.team_item--5 {
    right: 300px;
    bottom: 135px;
}

.blog_title {
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    padding-bottom: 9px;
}

.slider_item_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
    margin-bottom: 84px;
    display: inline-block;
}

.slider_item_title:hover {
    color: #FF9900;
}

.slider_item_author {
    line-height: 28px;
    text-decoration: none;
    color: #544837;
    font-weight: bold;
}

.blog_text {
    padding-bottom: 55px;
}

.slider_item_img {
    padding-bottom: 25px;
    width: 348px;
    height: 185px;
    object-fit: cover;
}

.slider_item_info {
    padding-bottom: 12px;
}

.blog {
    padding: 30px 0 120px;
}

.slider {
    margin: 0 -20px;
}

.slider_item {
    padding: 0 20px;
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    background: #EFEFEF;
    margin: 0 5px;
    padding: 0;
}

.slick-active button {
    background: #FF9900;
    outline: none
}

.slick-dots button:focus {
    outline: none
}

.footer_inner {
    padding: 105px 0 100px;
    border-top: 1px solid rgba(188, 208, 229, 0.496913);
    display: flex;
    justify-content: space-between
}

.footer_menu_title,
.footer_form_text {
    line-height: 30px;
    color: #2F281E;
    font-size: 20px;
    margin-bottom: 35px;
}

.footer_menu {
    width: 135px;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_link {
    text-decoration: none;
    line-height: 35px;
    color: #544837;
}

.footer_form_input {
    height: 48px;
    padding: 0 15px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 21px;
    display: inline-block;
}

.footer_form_input::placeholder {
    font-size: 16px;
    line-height: 28px;
    color: #BCD0E5;
}

.footer_form {
    width: 330px;
}

.footer_form_btn {
    color: #FFFFFF;
    line-height: 24px;
    font-weight: bold;
    padding: 8px 15px 7px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
}


.menu_btn {
    width: 40px;
    height: 30px;
    display: none
}

.menu_btn span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
   top: 14px;
}
.menu_btn::after, .menu_btn::before  {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: black;
    left: 0;
}

.menu_btn::after {
    top: 0;
}

.menu_btn::before {
    bottom: 0;
}